.bg-conf-color {
    background-color: #000000 !important;
}

.navbar {
    background: #F7931E !important;
}

.navbar a {
    color: #000000;
    font-size: 1.5rem;
}

.navbar a:hover {
    color: #FFFFFF;
}

.dropdown-grid-menu a {
    color: #000000;
}

.dropdown-grid-menu a:hover {
    color: #29abe2;
}


.btn-conf {
    background: #fff;
    color: #ffff00 !important;
    background-color: #000000;
}


.text-conf-primary,
text-conf-primary h1,
text-conf-primary h2,
text-conf-primary h3,
text-conf-primary h4,
text-conf-primary h5 {
    color: #29abe2;
}

a {
    color: #F7931E;
    text-decoration: none;
    background-color: transparent
}

.btn:hover {
    color: #ffce12;
    text-decoration: none
}

a:hover {
    color: #29abe2;
    text-decoration: none
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.bg-highlight {
    background-color: #F7931E;
}